 GreenMail IMAP does not escape quotes in ENVELOPE Message-ID response

(migrated from http://sourceforge.net/p/greenmail/bugs/7/) 

If I send a test email to GreenMail, containing a Message-ID containing a quoted address, e.g.

```
<11111.22222.3333.JavaMail."FOO\BAR"@HOSTNAME>
```

and then I retrieve it from GreenMail's IMAP server, JavaMail's ENVELOPE class, which is reading the response, throws 

``` Java
javax.mail.MessagingException: Failed to load IMAP Envelope
JavaMail generated the legal quoted Message-ID when calling MimeMessage.saveChanges() prior to sending it.
```

The IMAP [RFC3501 (section 9)](http://tools.ietf.org/html/rfc3501#section-9) says that the envelope's message-id will either be a quoted string, or a literal surround by braces. 

GreenMail is correctly quoting around the entire Message-ID. But in doing so, all quotes inside the Message-ID must be escaped prior to sending the response. 

Since these quotes are not escaped in GreenMail's envelope response data, the JavaMail reading code (ENVELOPE.java) rejects the invalid response.
