IMAP message size is incorrect

My understanding is that the `size` field in the SimpleMessageAttributes is currently the string length of the message body.

RFC9051 Internet Message Access Protocol (IMAP) - Version 4rev2, specifically section [2.3.4 - RFC822.SIZE Message Attribute](https://datatracker.ietf.org/doc/html/rfc9051#section-2.3.4) defines the size as:

> RFC822.SIZE is the number of octets in the message when the message is expressed in [[RFC5322](https://datatracker.ietf.org/doc/html/rfc5322)] format. This size SHOULD match the result of a "FETCH BODY[]" command. If the message is internally stored in some other format, the server calculates the size and often stores it for later use to avoid the need for recalculation.

But Greenmail sets this to be the string length of the body content which is not accurate

This can cause issues where the email body is empty but the subject is not, as the size is misreported as 0.

For example, when I combined Greenmail with Roundcube, this causes an [issue](https://github.com/roundcube/roundcubemail/issues/9946) where the messages don't render as Roundcube filters out messages with 0 / empty size.


I just want to confirm that I fired up Greenmail Standalone Runner via IntelliJ debugger and I stepped through `SimpleMessageAttributes#parseMimePart`

To replicate the issue I removed the `greenmail` container from the linked docker compose configuration, I replaced the `greenmail` hostname reference in the `roundcube` and `maildev` configurations with `host.docker.internal`. I had an IntelliJ debug configuration that matched the greenmail container configuration.

I can see this TODO comment above the problematic function: `TODO this is a mess, and should be completely revamped.`

So likely this entire thing needs to be reworked, however I confirmed that making some updates to the `parseMimePart` function "fixes" the issue.

Partial update of header processing:

```
// Section 1 - Message Headers
        if (part instanceof MimeMessage) {
            try {
                String[] subjects = part.getHeader("Subject");
                if ((subjects != null) && (subjects.length > 0)) {
                    subject = subjects[0];
                    size += subject.length();
                }
            } catch (MessagingException me) {
//                if (DEBUG) getLogger().debug("Messaging Exception for getSubject: " + me);
            }
        }
        try {
            from = part.getHeader("From");
            for (final String f : from) {
                size += f.length();
            }
        } catch (MessagingException me) {
//            if (DEBUG) getLogger().debug("Messaging Exception for getHeader(From): " + me);
        }
        try {
            sender = part.getHeader("Sender");
            if (sender == null) {
                sender = part.getHeader("X-Sender");
            }
            if (sender != null) {
                for (final String s : sender) {
                    size += s.length();
                }
            }
        } catch (MessagingException me) {
//            if (DEBUG) getLogger().debug("Messaging Exception for getHeader(Sender): " + me);
        }
```

So basically just adding the `length` of other parts of the content intended to be included in the size, this at least allows the message to have a size > 0, preventing it from being filtered out.

On another note, I also added the parsing for the `X-Sender` heading that roundcube seems to send. I suspect Greenmail might need to be updated to have a more generic way of parsing headers, or perhaps allow configuration for custom headers and explicitly parse those, but that's a separate issue and likely a feature request.

The above is to just demonstrate that the issue is in Greenmail, the accumulation of length is still inaccurate, but could be a quick fix without a breaking change or complete refactor. If we're happy for a length accumulation to go into 2.1.x, I'd be happy to raise a PR and then a more appropriate refactor fix could come later? Not sure if there's an easier way to get a byte size out of the MimePart

@psibean , would be great if you can provide a test case PR for reproduction.

This problem persists with latest version 2.1.11? There was a potentially related fix in 2.1.9 / #983 .

Yeah that fix looks unrelated. It doesn't change that the message size is still calculated as 0 in the `parseMimePart` when it shouldn't be.

I can 100% confirm that the changes in my previous comment fix the issue, and that the issue is that function.

As mentioned, the issue is reproducible using the linked docker compose (even with latest greenmail, 2.1.11), I ran latest master and it's still a problem.

When I get the chance I'll debug further to pinpoint exactly where RoundCube consumes the 0 size from Greenmail.

The size is calculated [here](https://github.com/greenmail-mail-test/greenmail/blob/e1801cbde9329d6f4921c3dbcad1729532bd6aad/greenmail-core/src/main/java/com/icegreen/greenmail/store/SimpleMessageAttributes.java#L128)

When fetched, that value is returned [here](https://github.com/greenmail-mail-test/greenmail/blob/e1801cbde9329d6f4921c3dbcad1729532bd6aad/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/FetchCommand.java#L135)

So when the body is empty but the subject and other headers aren't, that size is 0 when it shouldn't be. The size is being set to the length of the body, but as per the linked RFC, it should also include the subject, headers, etc.

Edit: I'm playing around with providing a test case, I'll have to investigate further. a simple fetch does seem to return the correct size regardless of an empty body. Yet I can confirm that in the running (non test example) when ensuring the `size` calculation in `parseMimePart` is > 0 for an empty message, it works.

<img width="1758" height="818" alt="Image" src="https://github.com/user-attachments/assets/35340013-ad0e-4dfb-9013-2d4226906f0f" />

@psibean , can you try a fresh build (including latest commit a979f25) ?

@marcelmay that fix looks correct to me and I can confirm this has fixed the issue.

Thanks!

Thx alot @psibean for raising the issue and the very fast feedback!
I will close the issue and roll a release in the next few days. If issue persists please reopen.